@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
*{
  margin: 0;
  padding: 0;
  font-size: 2vh;
}
body{
  background-color:#233343;
}
#stopbuttons{
  display: flex;
  width: 99vw;
  height: 40vh;
  justify-content: space-evenly;
}
button{
  background-color: #18e8de;
 color:#233343;
 font-weight: bold;
  border: none;
  outline: none;
  width: 19vw;
  height: 7vh;
  border-radius:10%;
  margin-top: 10vh;
}
#screenw{
  color: white;
  font-size: 12vh;
  justify-content: center;
  font-family: 'Graduate', 'Aerial';
  margin-top: 46vh;
  display: flex;
}
